*
{font-size : 50px;}
#p2 {
    
color :blue;

font-family: "Courier New", "Courier" , "monospace"; 

}
#p3 {color :red;
font-family: "Times New Roman", Times, serif;}
.one {color:chocolate;}
p{color:green;}
#p5 {colour:pink;
font-family: "Arial", sans-serif;}  