*
{font-size : 50px;}
#p2 {
    
color :blue;

font-family: "Courier New", "Courier" , "monospace"; 
text-transform: uppercase;
text-decoration: overline underline wavy blue;}
#p3 {color :red;
font-family: "Times New Roman", Times, serif;
background-color: yellow; }
.one {color:chocolate;}
p{color:green;}
#p5 {color:pink;
font-family: "Arial", sans-serif;
background-color: lightblue; }
