*
{font-size : 50px;}
#p2 {
    
color :blue;

font-family: "Courier New", "Courier" , "monospace"; 
text-transform: uppercase;
text-decoration: overline underline wavy blue;}
#p3 {color :red;
font-family: "Times New Roman", Times, serif;
background-color: yellow; }
.one {color:chocolate;}
p{color:green;}
#p5 {color:pink;
font-family: "Arial", sans-serif;
background-color: lightblue; }
#mydiv {text-align: center;}
#mydiv2 {box-shadow: 10px 10px 5px pink;
text-shadow : 3px 3px 5px red;
text-indent: 50%;
}
