body{
    
    
    
    background-color: rgb(66, 157, 188);

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHkz-CtfvMGgRgdHNQsxEMfsV37rycmXyYn4jbyBlVnEZZ-edxrgDlTl1Rbfo6teEkc2zsRuzlDUSc71RWUp5JtoegBcvnZPuUMwRmkDw&s=10");

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed ;
}

